@using DataBase.DTOs
@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime
@inject HttpClient httpclient
@inject NavigationManager navigate

<main class="d-flex flex-column fixed-top">
    <div class="row flex-grow-0">
        <div class="col-2 border shadow sidebar-container">
            <div class="min-vh-100 overflow-auto sidebar">
                <a class="navbar-brand d-flex align-items-center" href="/">
                    <img src="img/Rectangle89.png" class="logo-img me-2" alt="Logo" />
                    <span class="navbar-text text-primary">Quản lý Hệ thống</span>
                </a>
                <ul class="nav flex-column p-3">
                    <li class="nav-item mb-4">
                        <a class="nav-link" href="/adminIndex" @onclick="()=>ChangePageName(1)">
                            <i class="bi bi-house-door fs-3 me-2" style="color: #28a745;"></i>
                            <span class="fs-6" style="color: #333;">Trang chủ</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class="nav-link" href="/Faceid" @onclick="()=>ChangePageName(2)">
                            <i class="bi bi-camera-fill fs-3 me-2" style="color: #FF5722;"></i>
                            <span class="fs-6" style="color: #333;">Quản lý FaceID</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class="nav-link" href="/teacher" @onclick="()=>ChangePageName(3)">
                            <i class="bi bi-person-lines-fill fs-3 me-2" style="color: #007BFF;"></i>
                            <span class="fs-6" style="color: #333;">Quản lý Danh sách Giáo viên</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class="nav-link" href="/grade_and_class" @onclick="()=>ChangePageName(4)">
                            <i class="bi bi-people-fill fs-3 me-2" style="color: #007BFF;"></i>
                            <span class="fs-6" style="color: #333;">Quản lý Lớp học</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class="nav-link" href="/Admin_Subject" @onclick="()=>ChangePageName(5)">
                            <i class="bi bi-book fs-3 me-2" style="color: #28a745;"></i>
                            <span class="fs-6" style="color: #333;">Quản lý Môn học</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class="nav-link" href="/manage-test" @onclick="()=>ChangePageName(6)">
                            <i class="bi bi-question-circle-fill fs-3 me-2" style="color: #FF9800;"></i>
                            <span class="fs-6" style="color: #333;">Quản lý Tạo bài thi và gói đề</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class="nav-link" href="/exam-room" @onclick="()=>ChangePageName(7)">
                            <i class="bi bi-calendar-check-fill fs-3 me-2" style="color: #9C27B0;"></i>
                            <span class="fs-6" style="color: #333;">Quản lý Gói đề</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class="nav-link" href="/tongket" @onclick="()=>ChangePageName(8)">
                            <i class="bi bi-bar-chart-fill fs-3 me-2" style="color: #FFC107;"></i>
                            <span class="fs-6" style="color: #333;">Điểm</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class="nav-link" href="/exam-result" @onclick="()=>ChangePageName(9)">
                            <i class="bi bi-clipboard-check fs-3 me-2" style="color: #673AB7;"></i>
                            <span class="fs-6" style="color: #333;">Quản lý Phúc khảo</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/teacher-system" @onclick="()=>ChangePageName(10)">
                            <i class="bi bi-telephone-fill fs-3 me-2" style="color: #2196F3;"></i>
                            <span class="fs-6" style="color: #333;">Thông tin Liên hệ</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-10 bg-gradient">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light shadow-sm py-2" style="height:65px">
                    <div>
                        <div class=" p-4">
                            <h4 class="text-primary">@currentPage</h4>
                        </div>
                    </div>
                    <div class="container d-flex justify-content-end align-items-center">
                       
                        <div class="d-flex align-items-center">
                            <i class="bi bi-person-circle fs-5 text-primary me-2"></i>
                            @if (tokenResponse != null)
                            {
                                <span class="fw-semibold text-secondary me-2">@ShortenContent(userName, 15)</span>
                                <NavLink href="#" @onclick="HandleLogout" class="btn btn-outline-primary btn-sm">Đăng xuất</NavLink>
                            }
                        </div>
                    </div>
                </nav>

            </div>
            <div class="body-container">
                <div class="main-content">
                    <!-- Nội dung chính của trang -->
                    @Body
                </div>
                <footer class="bg-light text-secondary py-3">
                    <div class="container d-flex justify-content-between align-items-center">
                        <span>&copy; 2025 Hệ thống quản lý SmartSchool. Tất cả các quyền được bảo lưu.</span>
                        <div class="d-flex">
                            <a href="https://example.com" class="text-secondary me-3" target="_blank" aria-label="Link đến trang chủ">
                                <i class="bi bi-globe"></i> Trang chủ
                            </a>
                            <a href="mailto:support@example.com" class="text-secondary" aria-label="Email hỗ trợ">
                                <i class="bi bi-envelope"></i> Hỗ trợ
                            </a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</main>

@code {

    private TokenResponse tokenResponse;
    private string userName;
    private string currentPage = "Trang chủ"; // Trang mặc định
    private Dictionary<int, string> pageNames = new Dictionary<int, string>
    {
        { 1, "Trang chủ" },
        { 2, "Quản lý FaceID" },
        { 3, "Quản lý Danh sách Giáo viên" },
        { 4, "Quản lý Lớp học" },
        { 5, "Quản lý Môn học" },
        { 6, "Quản lý Tạo bài thi và gói đề" },
        { 7, "Quản lý Gói đề" },
        { 8, "Quản lý Điểm" },
        { 9, "Quản lý Phúc khảo" },
        { 10, "Quản lý Thông tin liên hệ" },

        // Thêm các trang khác ở đây
    };

    private void ChangePageName(int pageId)
    {
        if (pageNames.ContainsKey(pageId))
        {
            currentPage = pageNames[pageId];  // Cập nhật tên trang
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "YourSuperSecretKeyHere");

            if (!string.IsNullOrEmpty(token))
            {
                tokenResponse = new TokenResponse { Token = token };
                var handler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();
                var jsonToken = handler.ReadToken(token) as System.IdentityModel.Tokens.Jwt.JwtSecurityToken;
                userName = jsonToken?.Claims.FirstOrDefault(c => c.Type == "nameab")?.Value;
                StateHasChanged();
            }
        }
    }
    private async Task HandleLogout()
    {
        var response = await httpclient.PostAsync("api/User/logout", null);

        if (response.IsSuccessStatusCode)
        {
            await jsRuntime.InvokeVoidAsync("localStorage.removeItem", "YourSuperSecretKeyHere");
            tokenResponse = null;
            userName = null;
            navigate.NavigateTo("/");
        }
    }
    private string ShortenContent(string content, int maxLength)
    {
        if (string.IsNullOrEmpty(content))
        {
            return content;
        }
        return content.Length > maxLength ? content.Substring(0, maxLength) + "..." : content;
    }
}
