.row {
    --bs-gutter-x: 0;
}

.nav-link:hover {
    color: royalblue;
    font-weight: bold;
    font-size: 15px;
}

/* Cố định navbar ở phía trên */
.fixed-navbar {
    position: fixed;
    top: 0;
    width: calc(100% - 250px); /* Điều chỉnh chiều rộng dựa vào sidebar */
    margin-left: 250px; /* Đẩy nội dung sang phải của sidebar */
    background-color: #f8f9fa;
    z-index: 1031;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

/* Cố định sidebar bên trái */
.fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Chiều cao toàn màn hình */
    width: 250px; /* Chiều rộng sidebar */
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1030;
    overflow-y: auto; /* Bật cuộn dọc nếu nội dung vượt quá */
}

/* Đảm bảo nội dung bên dưới navbar không bị che khuất */
article {
    margin-top: 60px; /* Thêm khoảng cách để tránh đè lên navbar */
}

/* Cho phép phần nội dung body cuộn */
.body-container {
    height: calc(100vh - 60px); /* Điều chỉnh chiều cao dựa vào navbar cố định */
    overflow-y: auto; /* Bật cuộn dọc */
    padding-right: 15px; /* Thêm khoảng cách để tránh đè lên thanh cuộn */
    padding-bottom: 60px;
}
.main-background {
    background-image: url('../wwwroot/img/Thiết kế chưa có tên (2).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
