.context-menu {
    position: absolute;
    z-index: 1000;
    width: 150px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none; /* Mặc định là ẩn */
}

/* Các mục bên trong menu ngữ cảnh */
.context-menu-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333333;
    transition: background-color 0.3s ease;
}

    /* Màu nền khi di chuột vào từng mục */
    .context-menu-item:hover {
        background-color: #f0f0f0;
    }

    /* Thêm khoảng cách giữa các phần tử, nếu cần */
    .context-menu-item + .context-menu-item {
        border-top: 1px solid #eeeeee;
    }

.text-white:hover {
    color: mediumblue
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.exam-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title, .school-name, .year, .subject, .time, .code {
    text-align: center;
    margin: 0;
}

.student-info {
    margin: 20px 0;
}

.content {
    margin-top: 20px;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
}
