.router-space {
    background-color: #FFFF;
    border-radius: 12px;
}

.bi:hover {
    color: cornflowerblue
}

.row {
    --bs-gutter-x: 0;
}

.modal.fade.show {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Đảm bảo modal luôn nằm trên các phần tử khác */
    overflow-y: auto; /* Đảm bảo modal cuộn khi nội dung nhiều */
}

.folder-item {
    cursor: pointer;
}

.info-action {
    cursor: pointer;
    margin-right: 10px;
}

.folder-header {
    background-color: cornflowerblue;
}

.info-header {
    background-color: cornflowerblue;
}

.custom-context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    padding: 10px;
}

    .custom-context-menu.show {
        display: block;
    }
/* Định dạng cơ bản cho menu ngữ cảnh */
.context-menu {
    position: absolute;
    z-index: 1000;
    width: 150px;
    margin-left:-170px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none; /* Mặc định là ẩn */

}

/* Các mục bên trong menu ngữ cảnh */
.context-menu-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333333;
    transition: background-color 0.3s ease;
}

    /* Màu nền khi di chuột vào từng mục */
    .context-menu-item:hover {
        background-color: #f0f0f0;
    }

    /* Thêm khoảng cách giữa các phần tử, nếu cần */
    .context-menu-item + .context-menu-item {
        border-top: 1px solid #eeeeee;
    }

.text-white:hover {
    color: mediumblue
}
