@page "/"
@layout MainLayout
@inject IJSRuntime JSRuntime
<PageTitle>Index</PageTitle>
<div class="row">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/Screenshot 2024-09-23 092038.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/Screenshot 2024-09-22 225300.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/Screenshot 2024-09-23 094210.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div style=" background-color: #f9f9f9;
        font-family: Arial, sans-serif">
    <div class="row py-3">
        <div class="bg-light">
            <div class="container-fluid d-flex">
                <div class="col-6">
                    <div class="p-5">
                        <div class="d-flex justify-content-center">
                            <img class="img-thumbnail w-75" src="img/online.jpeg" alt="Hình ảnh thi online" />
                        </div>
                        <div class="d-flex justify-content-center" style="margin-top: -100px;margin-left:200px">
                            <img class="img-thumbnail w-75" src="img/top-10-phan-mem-thi-online-tot-nhat-2021.jpg" alt="Hình ảnh phần mềm" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-3">
                        <h1>Lời Giới Thiệu</h1>
                        <p>
                            Chào mừng bạn đến với <strong class="text-info">SMART SCHOOL</strong> – giải pháp thi online hoàn hảo cho giáo dục hiện đại!
                        </p>
                        <p>
                            Trong bối cảnh giáo dục ngày càng phát triển và công nghệ ngày càng phổ biến, việc tổ chức các kỳ thi một cách hiệu quả, tiện lợi và an toàn đã trở thành một nhu cầu thiết yếu.
                            Phần mềm thi online của chúng tôi được thiết kế đặc biệt để đáp ứng những yêu cầu này, giúp các trường học, tổ chức và cá nhân có thể tổ chức thi một cách nhanh chóng và chuyên nghiệp.
                        </p>
                        <p>
                            Với giao diện thân thiện, tính năng đa dạng và khả năng bảo mật cao, <strong class="text-info">SMART SCHOOL</strong> không chỉ tiết kiệm thời gian mà còn nâng cao trải nghiệm của cả giảng viên và học viên.
                            Hãy cùng chúng tôi khám phá thế giới thi online và nâng tầm chất lượng giáo dục của bạn!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.startCarousel = () => {
        var myCarousel = document.querySelector('#carouselExampleInterval');
        if (myCarousel) {
            var carousel = new bootstrap.Carousel(myCarousel, {
                interval: 2000,
                ride: 'carousel'
            });
        }
    };

</script>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("startCarousel");
        }
    }
}
