.row {
    --bs-gutter-x: 0;
}

h1 {
    color: #007bff; /* Màu xanh nổi bật */
    transition: color 0.3s ease;
}

    h1:hover {
        color: #0056b3; /* Màu khi hover */
    }

p {
    color: #333; /* Màu chữ tối */
    transition: transform 0.3s ease;
}

    p:hover {
        transform: translateY(-3px); /* Hiệu ứng di chuyển nhẹ */
    }

.img-thumbnail {
    transition: transform 0.3s ease;
}

    .img-thumbnail:hover {
        transform: scale(1.05); /* Hiệu ứng phóng to hình ảnh */
    }

.bg-light {
    background-color: #e9ecef !important; /* Đổi màu nền nhẹ hơn */
}
.img-uniform {
    width: 100%;
    height: 200px; 
    object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
    border-radius: 10px; /* Tùy chỉnh bo góc nếu cần */
}

